body{
    background-color: #f3f9fd;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: #f3f9fd;
    /* border: 1px solid ; */
}
.nav-items>ul{
    list-style-type:none ;
    display: flex;
    font-size: 1.8rem;
line-height: 1.5;
text-align: right;
vertical-align: middle;
font-weight: 300;
color: rgb(105, 105, 105);
cursor: pointer;
padding: 0.8rem !important;
border-radius: 0.6rem;
}
.nav-items>ul>li{
    list-style-type:none ;
    display: flex;
    padding: 10px;
}
.logo{
    width: 100px;
}
.card{

    
    width: 285px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;

}
.card>img{
   
    width: 100%;
}
.list{
    display: flex;
    flex-wrap: wrap;
}
.rating{
    background-color: #48c479;
  color: white;
  height: 20px;
  width: 40px;
  padding: 2px;
  border-radius: 5px;
  
}
.name{
    line-height: 1.2;
margin-block-end: 0px;
font-weight: 500;
text-align: left;
font-size: 1.7rem;
margin: 0.8rem 0px 0.6rem;
max-width: 80%;
color: rgb(28, 28, 28);
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.jPckER {
  font-size: inherit;
  line-height: 1.5;
  margin: 0px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(105, 105, 105);
  max-width: 56%;
  padding: 0px 0px 0.4rem;
}

